<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlideAndSeek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather&family=Poppins:wght@400;500&display=swap" rel="stylesheet">


</head>
<body>
    <div class="page slide-in">
        <header>
            <h1>SlideAndSeek</h1>
	<h3>Your Digital Worship Partner</h3>
        </header>

        <main>
            <p class="subtitle">Let everything that has breath,<br>praise the LORD.<br>
[Psalm 150:6]</p>

            <div class="button-container">
                <a href="/search" class="primary-btn">🔍 Search Songs & Keys</a>
                <a href="/add" class="primary-btn">➕ Add New Song</a>
                <a href="/rr_home" class="primary-btn">📖 Responsive Readings</a>
                <a href="/generate" class="primary-btn">📥 Generate Worship Slides</a>
            </div>
        </main>

        <footer>
            <p>🎶 Designed for English Baptist Church, CNI</p>
        </footer>
    </div>
</body>
</html>
